/*
description：百叶窗css
author：外号先生
time：2015/7/16
refer：common.css
*/
@charset "utf-8";
/*百叶窗*/
.menubox{width:250px;background:#141414;margin:0 auto;}

/*menu区域*/
.menubox .menu li{color:#fff;background:#aaa;border-bottom:1px solid
    #e4e4e4;transition:all 0.4s ease-in-out;}
 .menubox .menu li:hover{background:#333;transition:all 0.4s ease-in-out;}
 .menubox .menu li a{font-size:12px;color:#fff;display:block;padding:4px 10px;}
 .menubox .menu li i{font-size:18px;padding:4px;}
 /*子菜单*/
 .menubox .menu .submenu li{background:#f9f9f9;color:#333;padding:4px 30px;
 	border-bottom:1px solid #ddd;}
 .menubox .menu .submenu li:hover{background:#333;transition:all 0.4s ease-in-out;
 	color:#fff;}

 
